.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: lightgray;
    padding: 10px;
}

.menu-container {
    display: flex;
}

.menu {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    flex: 1;
}

.content-column {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
}

.sidebar {
    flex-basis: 200px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

.sidebar-row {
    padding: 10px;
}

.footer {
    background-color: lightgray;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.footer-column {
    flex: 1;
    text-align: center;
}
